<div class="mdl-grid">
  <div class="mdl-cell mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Vue toast</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-typography--title">Example.</div><br>

      <p>Options of component.</p>
      <label>
        <input type="text" v-model="maxToasts">
        maxToasts
      </label>
      <br>
      <label>
        <input type="text" v-model="position">
        position
      </label>

      <hr>
      <p>Options of toast.</p>

      <label>
        <input type="text" v-model="theme">
        theme
      </label>
      <br>
      <label>
        <input type="text" v-model="timeLife" :disabled="closeBtn">
        timeLife
      </label>
      <br>
      <label>
        <input type="checkbox" v-model="closeBtn">
        closeBtn
      </label>
      <hr>

      <div class="mdl-button mdl-button--accent" @click="showTime">Show time</div>

      <br><br>
      <vue-collapce>
        <div slot="trigger" class="mdl-typography--title">Source</div>
        <pre slot="content" v-text="source"></pre>
      </vue-collapce>
    </div>
  </div>
</div>
