<div class="mdl-grid">
  <div class="mdl-cell mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Vue media query.</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <div class="mdl-typography--title">Example</div><br><br>

      <span>$mq.resize {{ $mq.resize }}</span>
      <vue-test v-show="$mq.resize && $mq.notHD()">
        vue-test v-show="$mq.resize && $mq.notHD()"
      </vue-test>
      <vue-test v-show="$mq.resize && $mq.expr('(min-width: 600px)')">
        vue-test v-show="$mq.resize && $mq.expr('(min-width: 600px)')"
      </vue-test>
      <vue-test v-show="$mq.resize && $mq.between([$mv.screenXs, 1920])">
        vue-test v-show="$mq.resize && $mq.between([$mv.screenXs, 1920])"
      </vue-test>
      <vue-test v-show="$mq.resize && $mq.beyond([$mv.screenXs, 1000])">
        vue-test v-show="$mq.resize && $mq.beyond([$mv.screenXs, 1000])"
      </vue-test>
      <vue-test v-show="$mq.resize && $mq.above($mv.screenXs)">
        vue-test v-show="$mq.resize && $mq.above($mv.screenXs)"
      </vue-test>
      <vue-test v-show="$mq.resize && $mq.below(1200)">
        vue-test v-show="$mq.resize && $mq.below(1200)"
      </vue-test>

      <br><br>
      <vue-collapce>
        <div slot="trigger" class="mdl-typography--title">Source</div>
        <pre slot="content" v-text="source"></pre>
      </vue-collapce>
    </div>
  </div>
</div>
