.portal-header-bg
  width: 100%
  background-image: url(./img/bg.jpg)
  background-size: 100%
  background-position: center 80%

  @media (max-width: 1024px)
    background-color: #3f51b5 !important
    background-image: none

.portal-header-title
  cursor: pointer

.portal-header-waterfall-row
  height: 250px
