<div class="mdl-grid">
  <div class="mdl-cell mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Hello, my name is Alexandr and it's my little portal.</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>I work as front-end developer and I love my job.</p>
      <p>The technologies that I prefer are
        <a target="_blank" href="https://vuejs.org">vuejs</a>
        [<a target="_blank" href="http://vuejs.github.io/vuex/en/index.html">+vuex</a>],
        <a target="_blank" href="https://facebook.github.io/react/">react</a>
        [<a target="_blank" href="http://redux.js.org/">+redux</a>],
        <a target="_blank" href="http://postcss.org/">postcss</a>,
        <a target="_blank" href="http://sass-lang.com/">sass</a>,
        <a target="_blank" href="http://greensock.com/gsap">GSAP</a>
        <a target="_blank" href="https://webpack.github.io/">webpack</a>,
        <a target="_blank" href="http://gulpjs.com/">gulp</a>.
      </p>
      <p>
        Here are my modest achievements in <a v-link.path="'/open-source'">open source</a>.
        Link at my
        <a href="https://github.com/AStaroverov">github</a> and
        <a href="https://twitter.com/hellbeast92">twitter</a>.
      </p>
    </div>
  </div>
</div>
