<div class="mdl-grid">
  <div class="mdl-cell mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">My open source</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Here I'll brag my open source.
    </div>
  </div>

  <!-- projects -->
  <template v-for="project in projects">
    <div class="mdl-cell mdl-card mdl-cell mdl-cell--3-col mdl-shadow--4dp">
      <div class="mdl-card__title">
          <h2 class="mdl-card__title-text" v-text="project.title"></h2>
      </div>
      <div class="mdl-card__supporting-text" v-text="project.description"></div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-button--accent" v-link.path="'/open-source/' + project.links.example">Example</a>
        <a class="mdl-button mdl-button--colored mdl-button--accent" :href="project.links.github" target="_blank">Github</a>
      </div>
    </div>
  </template>


</div>
